length	AA_LEN
rooted	1
outdir	.
seqfile	gctree.simulation.fasta
rootid	naive
igphyml	IGPHYML_DIR
stats	gctree.simulation.phylip_igphyml_stats.txt_MODEL
tree	gctree.simulation.phylip_igphyml_tree.txt_MODEL.outgroup
ambigfile	igphyml_files/dummy.ambig
stem	gctree.simulation.igphyml_MODEL
