length	LEN_AA
rooted	1
outdir	.
seqfile	gctree.simulation_depup.fasta
rootid	naive
igphyml	IGPHYML_DIR
stats	gctree.simulation.phylip_igphyml_stats.txt_MODEL
tree	gctree.simulation.phylip_igphyml_tree.txt_MODEL.outgroup
ambigfile	AMBIG
stem	gctree.simulation.igphyml_MODEL
